@import '../assets/stylus/variable.styl'

.home
    .images
        display flex
        flex-wrap wrap
        margin 0 auto

        .img
            width 181px
            height 181px
            border 3px solid $borderColor
            margin 14px 7px
            box-sizing border-box
            cursor pointer
            position relative

            .del
                position absolute
                z-index 1
                right 2px
                top 2px

                .el-icon
                    font-size 18px

                    &:hover
                        color $hoverColor

            .el-image
                width 100%
                height 100%
                position absolute

            .img-title
                height 20px
                background rgba(0, 0, 0, 0.3)
                position absolute
                bottom 0
                left 0
                right 0
                color #ccc
                font-size 16px
                line-height 20px
                text-align center
                white-space nowrap /* 禁止文本换行 */
                overflow hidden /* 溢出部分隐藏 */
                text-overflow ellipsis /* 使用省略号表示溢出的部分 */

            @media (min-width 990px) and (max-width 1200px)
                margin 14px 6.5px

            @media (min-width 767px) and (max-width 990px)
                margin 14px 3.25px

            @media (min-width 557px) and (max-width 767px)
                margin 14px 2px

            @media (max-width 557px)
                width 48%
                height 0
                margin 8px 1%
                padding-bottom 46.55%
                position relative

    :deep(.upload-dialog)
        // width
        width 70%

        @media (max-width 767px)
            width 90%

        @media (max-width 557px)
            width 96%

        .tabs
            .image
                height 300px
                margin-top 10px

                .el-image
                    width 100%
                    height 100%

        .upload-form
            .uploader
                margin 0 auto
                display flex
                justify-content left
                position relative
                flex-wrap wrap

                .uploader-box
                    width 24%
                    position relative
                    height 150px
                    display flex
                    flex-direction column
                    margin 10px (4% / 8)

                    @media (max-width 557px)
                        width 48%
                        margin 8px 1%

                    .uploader-img
                        width 100%
                        height 100%
                        overflow hidden
                        padding-bottom 5px

                        .el-image
                            width 100%
                            height 100%

                        .model
                            width 100%
                            height 100%
                            position absolute
                            left 0
                            top 0
                            background rgba(0, 0, 0, 0.6)

                            .el-icon
                                color $baseColor
                                font-size 50px
                                position absolute
                                top 50%
                                left 50%
                                transform translate(-50%, -50%)

                            .uploading svg
                                animation loading 2s linear infinite

                            .err
                                cursor pointer

                            @keyframes loading
                                0%
                                    transform rotate(0deg)

                                50%
                                    transform rotate(180deg)

                                100%
                                    transform rotate(360deg)

                .uploader-input
                    width 100px
                    height 100px
                    position relative
                    margin 10px auto

                    .uploader-icon
                        width 100%
                        height 100%
                        // background pink
                        border 2px dashed pink
                        position absolute

                    .uploader-input-file
                        opacity 0
                        width 100%
                        height 100%

        .upload-success
            .upload-success-img
                margin-top 10px

                .success-img
                    height 50vw

                    .el-image
                        width 100%
                        height 100%

            .url-input
                display flex
                margin 10px

                .el-input
                    margin-right 10px

.home :deep(.addIcon)
    display flex

    i
        margin-right 10px