$headerColor = rgba(255, 255, 255, 0.8)
$bgColor = rgba(206, 133, 226, 0.35)
$baseColor = #962FCA
/* /渐变/ */
$titleGradient = to left, #df79fe, #e07800 25%, #df79fe 50%, #e07800 75%, #df79fe
$errorColor = #eb3232
$borderColor = #C176E7
$hoverColor = #7F0CB9
$whiteColor = #ffffff

.color-primary-0 {
    color #AB50DA
    color #DAA8F3
    color #C176E7
    color #962FCA
    color #7d08b8
}